body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: #D5CDCC;
}
/*Navbar Styling*/
.nav {
  height: 50px;   /*Sets the height of the navbar*/
  width: 100%;   /*Makes the navbar span the entire width of the screen*/
  background-color: #3482B5; /*Sets the navbar’s background to blue.*/
  position: relative; /*Makes it easier to position child elements absolutely within this navbar.*/
}
/*Title Section*/
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}
/*Navbar Button (Hidden by Default)*/
.nav > .nav-btn {
  display: none;
}
/*Navigation Links (Desktop View)*/
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  color: #efefef;
}
.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/*Checkbox (Hidden)*/
.nav > #nav-check {
  display: none;
}
/*Media Query (Mobile View: Max Width 800px)*/
@media (max-width:800px) {
                        .nav > .nav-btn {
                                            display: inline-block;
                                            position: absolute;
                                            right: 0px;
                                            top: 0px;
                                          }
                        .nav > .nav-btn > label {
                                            width: 50px;
                                            height: 50px;
                                            padding: 13px;
                                          }
                        .nav > .nav-btn > label > span {
                                            display: block;
                                            width: 25px;
                                            height: 10px;
                                            border-top: 2px solid #eee;
                                          }
                        .nav > .nav-links {
                                            position: absolute;
                                            display: block;
                                            width: 100%;
                                            background-color: #333;
                                            height: 0px;
                                            transition: all 0.3s ease-in;
                                            overflow-y: hidden;
                                            top: 50px;
                                            left: 0px;
                                        }
                        .nav > #nav-check:checked ~ .nav-links {
                                            height: calc(100vh - 50px);
                                            overflow-y: auto;
                                                }
